@font-face {
    font-family: 'DandD';
    src:url(../fonts/DalelandsUncialBold-82zA.ttf)
}  
body{
    background-color: bisque;
    font-family: 'Caesar Dressing', cursive;
    background-image: url('/images/Volobehold.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    padding-top: 25px;
    padding-bottom: 50px;
}
h1{
    font-family: DandD;
    font-size: 40px;
    line-height: 40px;
    color:#a10d1c;
    text-align: center;
    filter: drop-shadow(2px 2px 4px #000000);

}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.close{
    width: min-content;
    margin: 0 auto;

}
.close > button{
    background-color:#a10d1c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.9;
}
.creatureselection{
    width: 60%;
    background-color: ghostwhite;
    opacity: 0.6;
    padding: 20 20 20 20;
    margin: 0px auto;
    border-radius: 15px 15px;
}
.displaycreature{
    display:flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color:#FFFFFF;
    border-style: ridge;
    border-radius: 15px 15px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-right: 20px;
}
.displaycreaturedetails{
    padding-top:20px;
}
.displaycreatureimage{
    padding-bottom: 10px;
    height: 300px;
    width: 200px;
}
.displaycreature > li {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
  }
.displaycreaturestats{
    padding-top:100px;
    padding-left: 20px;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }